<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body onload="reloadCart()">
<header th:replace="~{fragments/commons::nav}"></header>
<main class="main">
    <div class="main__text-container">
        <h3 class="main__text-container-h3">
            ВОДОПРОВОДЧИК ВЪВ ВРАЦА ЗА ВИК УСЛУГИ
        </h3>
        <p class="main__text-container-p">Колектив от Високи Професионалисти – Водопроводчици във Враца,</p>
        <p class="main__text-container-p">Специализирани в Широк Кръг от ВиК услуги и Ремонти</p>

        <div class="main__text-container-desc">
            <div class="main__text-container-desc-detail">
                <div class="correct-img-cont">
                    <div class="correct-img-cont-i">
                        <img src="/images/correct.png">
                    </div>
                    <h3 class="main__text-container-desc-detail-h3">БЪРЗА РЕАКЦИЯ</h3>
                </div>
                <p class="main__text-container-desc-detail-p">Ще направим всичко възможно да реагираме в рамките на
                    час-два, но при невъзможност Вашия проблем ще бъде отстранен на следващия ден.</p>
            </div>

            <div class="main__text-container-desc-detail">
                <div class="correct-img-cont">
                    <div class="correct-img-cont-i">
                        <img src="/images/correct.png">
                    </div>
                    <h3 class="main__text-container-desc-detail-h3">КОРЕКТНОСТ</h3>
                </div>
                <p class="main__text-container-desc-detail-p">Винаги се стараем да бъдем коректни с нашите бъдещи и
                    настоящи клиенти.
                    Гарантираме, че ремонта ще бъде извършен максимално бързо и качествено!</p>
            </div>
            <div class="main__text-container-desc-detail">
                <div class="correct-img-cont">
                    <div class="correct-img-cont-i">
                        <img src="/images/correct.png">
                    </div>
                    <h3 class="main__text-container-desc-detail-h3">СПРАВЕДЛИВОСТ</h3>
                </div>
                <p class="main__text-container-desc-detail-p">Ценообразуването ни е съобразено изцяло с възможностите на
                    клиентите ни.
                    Няма да Ви вземем повече от предварително уточненото!</p>
            </div>
        </div>
        <div class="main__images-container">
            <div class="main__image-container-img-cont">
                <img src="/images/home-footer-img.jpg">
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/app.js"></script>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>