<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<form class="login-form"
      th:method="POST"
      th:action="@{/users/login}">

    <h3>Вход</h3>

    <p th:if="${hasError}" class="invalid-feedback">ГРЕШНО ПОТРЕБИТЕЛСКО ИМЕ ИЛИ ПАРОЛА!</p>
    <label for="username">Потребителско име</label>
    <input class="input-log"
           required="required"
           type="text"
           name="username"
           placeholder="Потребителско име.."
           id="username">

    <label for="password">Парола</label>
    <input class="input-log"
           required="required"
           type="password"
           min="3" max="20"
           name="password"
           placeholder="Парола.."
           id="password">

    <div>
        <label for="rememberme">Запомни ме</label>
        <input type="checkbox"
               name="rememberme"
               id="rememberme">
    </div>
    <button>Вход</button>
</form>


</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>