<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="order-compl-cont">
  <h2>Успешно направена поръчка.</h2>
  <h3>Очаквайте скоро човек от екипа да се свърже с Вас за уточнение и изпълнение.</h3>
  <h4>Благодарим Ви за доверието!</h4>
</div>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>