<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="pr-table-wrapper">
    <div class="table-cart-wrapper">
        <table class="current-pr-table">

            <tbody th:object="${currentProduct}">
            <tr>
                <th class="c-pr-text">Име на продукт</th>
                <th id="name" th:text="*{name}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Цена на продукт</th>
                <th id="price" th:text="*{price}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Производител</th>
                <th th:text="*{brand}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Описание на продукт</th>
                <th th:text="*{description}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Снимка на продукт</th>
                <th><img th:src="*{pictureUrl}" th:alt="*{pictureTitle}" height="150" width="150"
                         class="img-zoom-hover">
                </th>
            </tr>

            </tbody>
        </table>

        <div class="cart-container">
            <div id="cart" class="cart">
                <h3 class="c-pr-text">Количка</h3>
                <div id="cartItems"></div>
                <p>Крайна цена: <span id="totalPrice">0.00</span>лв.</p>
            </div>
        </div>
    </div>

    <div class="add-to-cart-btn-wrapper">
        <button onclick="addToCart(name, price)" id="add-to-cart-btn" class="add-to-cart-btn">Добави в количка</button>
    </div>

</div>

<script>
    let totalCartPrice = 0;

    function addToCart(name, price) {
        const cartItemsElement = document.getElementById("cartItems");
        const totalPriceElement = document.getElementById("totalPrice");

        const cartItemElement = document.createElement("div");
        cartItemElement.className = 'cart-item';

        const itemNameElement = document.createElement('span');
        itemNameElement.textContent = name + price + ' лв.';

        const deleteBtnElement = document.createElement('button');
        deleteBtnElement.textContent = 'Изтрий';
        deleteBtnElement.className = 'delete-btn';
        deleteBtnElement.onclick = function () {
            cartItemsElement.removeChild(cartItemElement);
            totalCartPrice -= price;
            totalPriceElement.textContent = totalCartPrice;
        }

        cartItemElement.appendChild(itemNameElement);
        cartItemElement.appendChild(deleteBtnElement);

        cartItemsElement.appendChild(cartItemElement);

        totalCartPrice += price;
        totalPriceElement.textContent = totalCartPrice;

    }

</script>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>