<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="pr-table-wrapper" th:object="${currentProduct}">
    <div class="table-cart-wrapper">
        <table class="current-pr-table">

            <tbody>
            <tr>
                <th class="c-pr-text">Име на продукт</th>
                <th id="name" th:text="*{name}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Цена на продукт</th>
                <th id="price" th:text="*{price}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Производител</th>
                <th th:text="*{brand}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Описание на продукт</th>
                <th th:text="*{description}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Снимка на продукт</th>
                <th><img th:src="*{pictureUrl}" th:alt="*{pictureTitle}" height="150" width="150"
                         class="img-zoom-hover">
                </th>
            </tr>

            </tbody>
        </table>

        <div class="cart-container" th:object="${cartViewModels}">
            <div id="cart" class="cart">
                <h3 class="c-pr-text">Количка</h3>
                <div id="cartItems"></div>
                <div th:if="${cartViewModels.isEmpty()}">
                    <p>Количката е празна!</p>
                    <p>Крайна цена: 0.00лв.</p>
                </div>
                <div th:unless="${cartViewModels.isEmpty()}">
                    <p>Добавени продукти</p>
                    <div th:each="p : ${cartViewModels}">
                        <span th:text="${p.name} + ' - ' + ${p.price} + 'лв.'"></span><br>
                    </div>
                    <div th:text="'Крайна цена ' + ${totalCartPrice}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-to-cart-btn-wrapper">
        <button onclick="addToCart()" id="add-to-cart-btn" class="add-to-cart-btn">Добави в количка</button>
    </div>

</div>

<script>
    let totalCartPrice = 0;

    function addToCart() {
        const currentName = document.getElementById("name");
        const currentPrice = document.getElementById("price");
        const cartItemsElement = document.getElementById("cartItems");
        const totalPriceElement = document.getElementById("totalPrice");

        const cartItemElement = document.createElement("div");
        cartItemElement.className = 'cart-item';

        const itemNameElement = document.createElement('p');
        const itemPriceElement = document.createElement('p');
        itemNameElement.textContent = 'Продукт: ' + currentName.textContent;
        itemPriceElement.textContent = 'Цена: ' + currentPrice.textContent + 'лв'

        const deleteBtnElement = document.createElement('button');
        deleteBtnElement.textContent = 'Изтрий';
        deleteBtnElement.className = 'delete-btn';
        deleteBtnElement.onclick = function () {
            cartItemsElement.removeChild(cartItemElement);
            totalCartPrice -= currentName;
            totalPriceElement.textContent = totalCartPrice.textContent;
        }

        cartItemElement.appendChild(itemNameElement);
        cartItemElement.appendChild(itemPriceElement)
        cartItemElement.appendChild(deleteBtnElement);

        cartItemsElement.appendChild(cartItemElement);

        totalCartPrice += currentPrice;
        totalPriceElement.textContent = totalCartPrice.textContent;

    }

</script>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>