<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body onload="reloadCart()">
<header th:replace="~{fragments/commons::nav}"></header>

<div class="pr-table-wrapper" th:object="${currentProduct}">
    <div class="table-cart-wrapper">
        <table class="current-pr-table">

            <tbody>

            <tr>
                <th class="c-pr-text">ID на продукт</th>
                <th id="productId" th:text="*{id}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Име на продукт</th>
                <th id="name" th:text="*{name}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Цена на продукт</th>
                <th id="price" th:text="*{price}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Производител</th>
                <th th:text="*{brand}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Описание на продукт</th>
                <th th:text="*{description}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Снимка на продукт</th>
                <th><img th:src="*{pictureUrl}" th:alt="*{pictureTitle}" height="150" width="150"
                         class="img-zoom-hover">
                </th>
            </tr>

            </tbody>
        </table>

        <div id="cart-container" class="cart-container" th:object="${cartViewModels}">
            <div id="cart" class="cart">
                <h3 class="c-pr-text">Количка</h3>
                <div id="cartItems"></div>
            </div>
        </div>
    </div>

    <form th:object="${currentProduct}"
          th:action="@{/products/all/{productId}(productId = ${currentProduct.id})}"
          method="POST" onsubmit="event.preventDefault(); addToCart();">
        <input type="submit" value="ДОБАВИ В КОЛИЧКА"/>
    </form>

</div>


<script>

    function addToCart() {
        let BASE_URL = "/products/all/";
        let productId = document.getElementById("productId").innerText;
        let addToCartBtn = document.getElementById("addToCartBtn");

        let csrfToken = document.querySelector('input[name="_csrf"]').value;

        fetch(BASE_URL + productId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken
            },
            body: JSON.stringify({
                productId: productId
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Продуктът не се добави в количката.');
                }
                return response.text();
            })
            .then(data => {
                console.log('Успешно добавен продукт: ', data);
                reloadCart();
            })
            .catch(error => {
                console.error('ГРЕШКА: ', error.message);
            });


    }

    function reloadCart() {
        const cartItems = document.getElementById('cartItems');
        let BASE_URL = "/cart";

        fetch(BASE_URL)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Грешка при извличане на данни от количката. Статус код: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {

                if (data.length <= 0) {
                    cartItems.innerHTML = '';
                    let emptyCart = document.createElement('p');
                    emptyCart.textContent = "Количката е празна";

                    cartItems.appendChild(emptyCart);
                } else {

                    cartItems.innerHTML = '';

                    data.forEach(product => {
                        const productNameElement = document.createElement('div');
                        const productPriceElement = document.createElement('div');
                        const deleteFromCartBtn = document.createElement('button');

                        productNameElement.textContent = `${product.name}`;
                        productPriceElement.textContent = `${product.price.toFixed(2)}лв.`;

                        deleteFromCartBtn.textContent = 'Изтрий'
                        deleteFromCartBtn.setAttribute('productId', product.id);
                        deleteFromCartBtn.addEventListener('click', deleteFromCart);

                        cartItems.appendChild(productNameElement);
                        cartItems.appendChild(productPriceElement);
                        cartItems.appendChild(deleteFromCartBtn);
                    });
                }
            })
            .catch(error => console.error('Грешка при зареждане на количката:', error.message));
    }

    function deleteFromCart() {

        const productId =  event.currentTarget.getAttribute('productId');
        const BASE_URL = "/cart/";

        let csrfToken = document.querySelector('input[name="_csrf"]').value;

        fetch(BASE_URL + productId, {
            method: 'DELETE',
            headers: {
                'X-CSRF-TOKEN': csrfToken
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Грешка при изтриване на продукта от количката.');
                }
                console.log('Продуктът е успешно премахнат от количката.');
                reloadCart();
            })
            .catch(error => console.error('ГРЕШКА: ', error.message));
    }


</script>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>