<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body onload="reloadCart()">
<header th:replace="~{fragments/commons::nav}"></header>

<div class="pr-table-wrapper">
    <div class="table-cart-wrapper">
        <table class="current-pr-table">

            <tbody th:object="${currentService}">

            <tr>
                <th class="c-pr-text">ID на услуга</th>
                <th id="serviceId" th:text="*{serviceId}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Име на услуга</th>
                <th th:text="*{name}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Описание на услуга</th>
                <th th:text="*{description}"></th>
            </tr>

            <tr>
                <th class="c-pr-text">Снимка на услуга</th>
                <th><img th:src="*{pictureUrl}" th:alt="*{pictureTitle}" height="200" width="200"
                         class="img-zoom-hover">
                </th>
            </tr>

            <tr>
                <th class="c-pr-text">Цена на услуга</th>
                <th th:text="|*{price}лв.|"></th>
            </tr>
            </tbody>
        </table>

        <div id="cart-container" class="cart-container" th:object="${cartViewModels}">
            <div id="cart" class="cart">
                <h3 class="c-pr-text">Количка</h3>
                <div id="cartItems"></div>
            </div>
        </div>
    </div>

    <form th:object="${currentService}"
          th:action="@{/services/all/{productId}(productId = ${currentService.id})}"
          method="POST" onsubmit="event.preventDefault(); addServiceToCart();">
        <input type="submit" value="ДОБАВИ В КОЛИЧКА"/>
    </form>
</div>

<script type="text/javascript" src="/js/app.js"></script>

</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>