<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ВиК Услуги Враца</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:fragment="nav" class="header">
    <nav class="header__nav">
        <div class="header__logo">
            <img src="/images/logo.png" alt="">
        </div>

        <th:block sec:authorize="isAuthenticated()">
            <div class="container-fluid">
                <h5 class="text-center text-white mt-5"> Добре дошъл,
                    <th:block sec:authentication="name"></th:block>
                </h5>
            </div>
        </th:block>

        <ul class="nav_list">
            <li class="nav_list-item">
                <a href="/">
                    <button class="dropbtn">Начало</button>
                </a>
            </li>

            <li class="nav_list-item">
                <div class="dropdown">
                    <button class="dropbtn">Услуги</button>
                    <div class="dropdown-content">
                        <a th:each="s : ${allServices}"
                           th:href="@{/services/all/{id}(id=${s.id})}"
                           th:text="${s.name}">Изграждане на ВиК инсталации</a>
                    </div>
                </div>
            </li>
            <li class="nav_list-item">
                <a href="/products/all">
                    <button class="dropbtn">Продукти</button>
                </a>
            </li>
            <li class="nav_list-item">
                <a href="/about">
                    <button class="dropbtn">За нас</button>
                </a>
            </li>
            <li class="nav_list-item" sec:authorize="isAuthenticated()">
                <a href="/contacts">
                    <button class="dropbtn">Контакти</button>
                </a>
            </li>
            <li class="nav_list-item" sec:authorize='hasRole("BOSS")'>
                <div class="dropdown">
                    <button class="dropbtn">Админ</button>
                    <div class="dropdown-content">
                        <a href="/services/add">Добави услуга</a>
                        <a href="/products/add">Добави продукт</a>
                        <a href="/admin/clients">Клиенти</a>
                        <a href="/admin/workers">Работници</a>
                    </div>
                </div>
            </li>
            <li class="nav_list-item" sec:authorize="!isAuthenticated()">
                <a href="/users/login">
                    <button class="dropbtn">Вход</button>
                </a>
            </li>
            <li class="nav_list-item" sec:authorize="!isAuthenticated()">
                <a href="/users/register">
                    <button class="dropbtn" type="submit">Регистрация</button>
                </a>
            </li>
            <li class="nav_list-item" sec:authorize="isAuthenticated()">
                <form th:method="post"
                      th:action="@{/users/logout}">
                    <button class="dropbtn" type="submit">Изход</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="header__text">
        <h1 class="header__text-heading">ВиК Услуги във Враца</h1>
        <h2 class="header__text-subheading">Бързи ВиК услуги и Ремонти по Домовете във Враца.
            Квалифицирани Водопроводчици за Качествени ВиК ремонти.</h2>

        <a href="/our-specialists"><button class="header__text-btn">Нашите специалисти</button></a>
    </div>
</header>
</body>
<footer th:fragment="footer" class="footer">
    <p>
        &copy; ВиК Услуги Враца. Всички права запазени.
    </p>
</footer>
</html>