<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<h2>Добави услуга</h2>
<form
        th:method="POST"
        th:action="@{/services/add}"
        enctype="multipart/form-data">

    <label for="service-name" class="form-label">Име на услуга</label><br/>
    <input type="text" id="service-name" name="service-name" placeholder="Име на услуга.."><br/>

    <label for="service-description" class="form-label">Описание на услуга</label><br/>
    <textarea name="service-description" id="service-description" placeholder="Описание на услуга.."></textarea><br/>

    <label for="service-price" class="form-label">Цена на услуга</label><br/>
    <input type="text" name="service-price" id="service-price" placeholder="Цена на услуга (пример: 1.11).."><br/>

    <label for="service-picture" class="form-label">Добави снимка</label><br/>
    <input type="file" name="service-picture" id="service-picture"><br/>

    <input type="submit" value="Добави">


</form>

</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>