<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main class="main__reg-form">
    <h2>РЕГИСТРАЦИЯ</h2>
    <div class="register__container-form">
    <form th:method="POST"
          th:action="@{/users/register}">

        <label for="username" class="form-label">Потребителско име</label>
        <input type="text" id="username" name="username" class="reg-form" placeholder="Потребителско име..">

        <label for="password" class="form-label">Парола</label>
        <input type="password" id="password" name="password" class="reg-form" placeholder="Парола..">

        <label for="confirmPassword" class="form-label">Потвърдете паролата</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="reg-form"
               placeholder="Потвърдете паролата..">

        <label for="fname" class="form-label">Име</label>
        <input type="text" id="fname" name="firstName" class="reg-form" placeholder="Име..">

        <label for="lname" class="form-label">Фамилия</label>
        <input type="text" id="lname" name="lastName" class="reg-form" placeholder="Фамилия..">

        <label for="age" class="form-label">Години</label>
        <input type="text" id="age" name="age" class="reg-form" placeholder="Години..">

        <label for="email" class="form-label">Имейл</label>
        <input type="text" id="email" name="email" class="reg-form" placeholder="Имейл..">

        <label for="phone" class="form-label">Телефон</label>
        <input type="text" id="phone" name="phoneNumber" class="reg-form" placeholder="+359..">

        <input type="submit" value="Регистрация" class="reg-submit-form">

    </form>
    </div>
</main>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>