.header {
    height: 385px;
    background-image: url(/images/Water-Meter-Replacement-Program---Website-Banner.png);
    background-repeat: no-repeat;
    background-size: 100% 380px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.header__logo {
    width: 80px;
    height: 80px;
    margin-left: 100px;
}

.header__logo img,
.main__image-container-img-cont img,
.correct-img-cont-i img,
.about-container__info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_list {
    display: flex;
    width: 65%;
    list-style: none;
    justify-content: space-between;
}

.nav_list-item a {
    text-decoration: none;
    color: black;
}

.nav_list-item button,
.header__text-btn,
.logout-dropbtn,
.add-to-cart-btn,
.add-pr-sc-btn {
    color: white;
    background-color: #1845ad;
    padding: 6px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.header__text {
    margin-left: 100px;
    width: 50%;
    color: #e5e5e5;
}

.header__nav h5 {
    color: white;
    font-size: 18px;
}

.header__text-heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.header__text-subheading {
    font-weight: normal;
    margin-top: 0;
    font-size: 26px;
}

.header__text p {
    margin-top: 0;
    margin-bottom: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbtn:hover {
    background-color: #3e8e41;
}

.header__text-btn:hover {
    background-color: #3e8e41;
}

.main__text-container-desc-detail:hover {
    background-color: #3e8e41;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn a,
.header__text-btn a {
    color: white;
    text-decoration: none;
}

.footer {
    text-align: center;
    font-size: 20px;
    color: #1845ad;
}

.main__text-container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
    background-color: aliceblue;
}

.main__text-container-h3 {
    font-size: 36px;
}

.main__text-container-p {
    font-size: 24px;
}

.main__text-container-h3,
.main__text-container-p {
    text-align: center;
    color: #1845ad;
}

.main__text-container-desc {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.main__text-container-desc-detail {
    align-items: center;
    width: 30%;
    border-radius: 50px;
    border: 1px solid #1845ad;
}

.main__text-container-desc-detail-h3,
.main__text-container-desc-detail-p {
    color: #1845ad;
    text-align: center;
}

.main__text-container-desc-detail-h3 {
    font-size: 24px;
}

.main__text-container-desc-detail-p {
    font-size: 20px;
}

.main__image-container-img-cont {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.correct-img-cont,
.about-container__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct-img-cont-i {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.about-container h2 {
    text-align: center;
    font-size: 48px;
    color: #1845ad;
}

.about-container__info-img {
    width: 30%;
    height: 50%;
}

.about-container__info-desc-all {
    width: 50%;
    margin-left: 30px;
}

.about-container__info {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border: 1px solid #1845ad;
    border-radius: 40px;
}

.about-container__info-desc {
    margin-bottom: 30px;
    text-align: center;
    color: #1845ad;
}

.about-container__info-desc h3 {
    font-size: 24px;
}

.about-container__info-desc p {
    font-size: 18px;
}

.contacts__container-form,
.register__container-form {
    width: 25%;
    margin-top: 50px;
    display: inline-block;
}

.form-input,
.reg-form {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 20px;
}

.form-label,
.submit-form,
.reg-submit-form,
.login-form button {
    font-size: 20px;
    color: #1845ad;
}

.main__contact-form,
.main__reg-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__reg-form h2,
.main__contact-form h2 {
    text-align: center;
    font-size: 50px;
    color: #1845ad;
    margin-bottom: 0;
    padding-bottom: 0;
}

.product-table,
.workers-table,
.clients-table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.product-table td,
.product-table th,
.current-pr-table td,
.current-pr-table th,
.workers-table td,
.workers-table th,
.clients-table td,
.clients-table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 20px;
}

.product-table tr:nth-child(even),
.clients-table tr:nth-child(even),
.workers-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr:hover,
.clients-table tr:hover,
.workers-table tr:hover {
    background-color: #ddd;
}

.product-table th,
.workers-table th,
.clients-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1845ad;
    color: white;
    text-align: center;
}

.pr-table-wrapper,
.workers-table-wrapper,
.clients-table-wrapper {
    margin-top: 40px;
}

.current-pr-table {
    width: 60%;
}

.cart-container {
    width: 12%;
    margin-left: 10px;
    border: 1px solid lightgray;
}

.currentCartItem {
    border: 1px solid lightgray;
    width: 90%;
    margin: 13px auto;
}

.totalCartPrice {
    text-align: center;
}

.c-pr-text {
    background-color: #1845ad;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#cartItems {
    text-align: left;
    margin-left: 3px;
}

.add-to-cart-btn-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.add-to-cart-btn {
    font-size: 20px;
}

.table-cart-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-compl-cont {
    text-align: center;
    color: #1845ad;
}

.add-to-cart-form {
    text-align: right;
    width: 51%;
}

.add-to-cart-form input:hover {
    background-color: lightgray;
    color: black;
}

.add-to-cart-form input {
    border: none;
    border-radius: 50px;
    background-color: #1845ad;
    color: white;
    padding: 11px;
    margin-top: 10px;
}

.invalid-feedback {
    color: red;
}

.contact-confirm {
    text-align: center;
    color: #1845ad;
}

.add-pr-sc-h2,
.product-not-found,
.page-not-found,
.server-error,
.bad-request-error {
    text-align: center;
    color: #1845ad;
    font-size: 32px;
}

.add-pr-sc-form {
    display: flex;
    justify-content: center;
}

.form-group-add-pr-sc input,
.form-group-add-pr-sc textarea {
    width: 100%;
}

.form-group-add-pr-sc textarea {
    min-width: 760px;
    min-height: 150px;
}

.form-group-add-pr-sc {
    margin-bottom: 14px;
}

.add-pr-sc-btn {
    padding: 10px 70px;
    font-size: 20px;
}

.add-pr-sc-btn:hover {
    background-color: lightgray;
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-log {
    margin-bottom: 10px;
    width: 200px;
    height: 20px;
}

.login-form label {
    color: #1845ad;
    font-size: 20px;
}

.login-form h3 {
    font-size: 36px;
    color: #1845ad;
    margin-bottom: 10px;
}

.cards__workers-card-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.workers-head {
    background-color: #1845ad;
    color: white;
    font-size: 28px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 6px;
}

.worker-card-container tr {
    font-size: 24px;
}

.worker-card-container {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #1845ad;
}

.container-403 {
    color: #1845ad;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.order-container,
.admin-messages-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.order-container {
    width: 40%;
}

.order-container table,
.products-order-cart {
    width: 100%;
}

.order-container input{
    border: none;
    font-size: 18px;
}

.order-container table tr {
    font-size: 18px;
}

.admin-messages-container {
    width: 70%;
}

.admin-messages-container table {
    width: 100%;
}

.admin-messages_not-answered,
.admin-messages_answered {
    border: 1px solid #1845ad;
    margin-bottom: 30px;
}

.admin-messages-container {
    color: #1845ad;
    font-size: 24px;
}

.admin-messages-container table, th, td {
    border: 1px solid;
}

.delete-cart-btn,
.submit-form {
    color: white;
    background-color: #1845ad;
    padding: 6px 10px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.confirm-order-btn,
.order-complete-btn input {
    color: white;
    background-color: #1845ad;
    padding: 6px 10px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.delete-cart-btn:hover,
.confirm-order-btn:hover,
.submit-form:hover,
.order-complete-btn input:hover {
    background-color: #ddd;
    color: black;
}

.container-confirm-order-btn {
    display: flex;
}

#serviceId {
    display: none;
}

.info-pr-h3 {
    color: #1845ad;
    font-size: 26px;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.products-order-cart {
    text-align: center;
}


